*{
    margin: 0;
    padding: 0;
}

button {
    border-radius: 0px;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    min-height: 100vh;
}
.localweatherbackground{
    background-image: linear-gradient(rgb(73, 138, 220), rgb(98, 59, 156));
    margin-top: 0%;
    height: 60vh;
}
.dailyforecast{
    background-color: white;
    filter: drop-shadow(2 3mm 4mm #808080);
    display: flex;
    flex-direction: row;
    height: 40vh;
    justify-content: space-between;
    align-items: center;

}
.sixhourforecast{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 45pt;
    font-weight: normal;
    color: white;
    margin-top: 0%;
    padding-right: 10%;
}
.time{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: lighter;
    font-size: 25pt;
    color: black;
}
.image1{
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border-right: thin solid black;
    line-height: 10vh;


}

.time{
   
}
.pipe{
    border-right: thin solid black;
    align-self: center;
}
.imglast{
    padding-left: 5%;
    padding-right: 5%;

}
.northerncalifornia{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 33pt;
    font-weight: normal;
    color: rgb(98, 59, 156);

}
.submitforecast{
    display: flex;

}
.searchTerm{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    width: 25%;
    height: 35%;
    margin-top: 3.5%;
    color: white;
    background-color: rgb(98, 59, 156);
    border-color: transparent;
}
::placeholder {
  color: white;
  opacity: 1;
  padding-left: 6%;
}

.searchButton{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    height: 35%;
    margin-top: 3.5%;
    margin-left: 1%;
    border: 1px;
    color: white;
    background-color: rgb(73,138,220);

}
.forecastfor{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22pt;
    font-weight: normal;
    color: white;
    padding-left: 10%;
    padding-right: 5%;
}

.number{
    font-family: 'Saira Extra Condensed Light', sans-serif;
    font-size: 65pt;
}
.lefthalf{

}
.righthalf{

}
.upperpart{

}
.lowerpart{

}
