*{
    margin: 0;
    padding: 0;
}

button {
    border-radius: 0px;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    min-height: 100vh;
}
.localweatherbackground{
    background-image: linear-gradient(rgb(73, 138, 220), rgb(98, 59, 156));
    height: 60vh;
    filter: drop-shadow(0px 20px 27px gray);
}
.dailyforecast{
    display: flex;
    flex-direction: row;
    line-height: 6v;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    vertical-align: center;
    /* position: inherit; */
}
.flexCol{
    display: flex;
    flex-direction: column;
    size: 138%;
    font-size: 175%;
}
.sixhourforecast{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 302%;
    font-weight: normal;
    color: white;
    padding-right: 0%;
}
.time{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: lighter;
    font-size: large;
    color: black;
    display: inline;
    vertical-align: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.image1{
        /* padding-left: 5%; */
        /* padding-right: 5%; */
        /* background-color: white; */
        line-height: 7vh;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /*border-right: thin solid black; */
}


.imglast{
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    /* line-height: 12vh; */
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-evenly;
    vertical-align: center;
    line-height: 7vh;
}
.northerncalifornia{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 200%;
    font-weight: normal;
    color: rgb(98, 59, 156);

}
.submitforecast{
    display: inline;


}


.searchTerm{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    width: 20%;
    color: white;
    background-color: rgb(98, 59, 156);
    border-color: transparent;
    height: 3.5vh;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
}
::placeholder {
  color: white;
  opacity: 1;
  padding-left: 6%;
}

.searchButton{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    height: 3.5vh;
    width: 7.5vw;
    margin-left: 0.5%;
    border: 19px;
    color: white;
    background-color: rgb(73,138,220);
    display: inline-block;
    vertical-align: middle;
    width: 5vw;
}
.forecastfor{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 130%;
    font-weight: normal;
    color: white;
}

.number{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 57pt;
    font-weight: lighter;
}
.lefthalf{
    padding-left: 5%;
    padding-top: 3%;

    width: 71vw;

    height: 50%;


}

.righthalf{

}
.upperpart{

}
.lowerpart{
    display: flex;
    /* flex-direction: row; */
    padding-top: 2%;
    width: 10vw;
    height: 30vh;
}
.currentTime {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 35pt;
    font-weight: lighter;
    color: white;
    text-align: center;
}
.picture {
   padding-top: 3%;
   padding-left: 8%;
   padding-right: 1%;

   width: 16%;

   padding-bottom: 0%;
   width: 15%;
   height: 25%;

}
.currentTemp {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 85pt;
    font-weight: lighter;
    color: white;
    padding-left: 5%;
    padding-bottom: 10%;
}
